<h1>
    Bonjour {{name}}
</h1>
<p>
    Quelqu'un - nous espérons que c'est bien vous - a demandé la modification de votre mot de passe Todo.
</p>
<p>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#ED2939">
                        <a href="{{resetLink}}" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                        Réinitialiser le mot de passe             
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</p>
<p>
    Vous pouvez également copier l'adresse suivante dans votre navigateur : <br/>
    <a href="{{resetLink}}">
    {{resetLink}}
    </a>
</p>

<p>
    Ce lien est valable pendant 1 heure.
</p>

<p>
    Si vous n'avez rien demandé, vous pouvez ignorer ce message.
</p>

<p>
    Merci et bonne journée ;)
</p>
<p>
    <em>
    Le préposé aux adresses oubliées de Todo
    </em>
</p>